
@media print {
    .pagebreak {
        page-break-before: always;
    }
}

@media print {

    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}

body, html {
    font-family: "Lato", sans-serif;
    height: 100%;
    background-color: rgba(40,40,43);
    color: white;
}

/*

.nav {
  overflow: hidden;
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  width: 99%;
  display: flex;
}

.nav hr {
  color: white;
}

.nav a {
  padding: 20px 16px;
  text-decoration: none;
  font-size: 18px;
  color: rgba(255,255,255);
  display: block;
  float: left;
  text-align: center;
}

.nav a:hover {
  color: deepskyblue;
}

.nav a.active {
  background-color: rgba(255,255,255);
  color: deepskyblue;
  font-size: 20px;
}

.nav .icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .nav a:not(:first-child) {display: none;}
  .nav a.icon {
    float: left;
    display: block;
  }
  
  .nav.responsive {
    position: relative;
    display: block;
    background-color: white;
    color: black;
    min-width: 160px;
    z-index: 1;
  }
  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
    float: center;
    display: flex;
    text-align: center;
    padding: 20px 10px 20px 10px;
  }
}

*/


nav {
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 1.5rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 95%;
  font-weight: 400;
  padding: 4px 8px;
}

.linedNav {
  display: none;
  cursor: pointer;
 }

.linedNav .line {
  width: 25px;
  height: 1px;
  background-color: white;
  display: block;
  margin: 7px auto;
  transition: all 0.3s ease-in-out;
}


.linedNav-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45 deg);
}

.linedNav-active .line:nth-child(2) {
  width: 0px;
}

.linedNav-active .line:nth-child(1),
.linedNav-active .line:nth-child(3) {
  transition-delay: 0.3s;
}

.linedNav-active .line:nth-child(1) {
  transform: translateY(12px);
}

.linedNav-active .line:nth-child(3) {
  transform: translateY(-5px) rotate(90deg);
}

/*
.menubar {
  position: absolute;
  top: 0;
  left: -60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  height: 100vh;
  padding: 20% 0;
  background: white;
  transition: all 0.5s ease-in;
  z-index: 1;
}*/

.menubar {
  position: absolute;
  top: 5%;
  left: -60%;
  justify-content: center;
  align-items: flex-start;
  color: white;
  width: 30%;
  height: 50vh;
  padding: 0 5% 10% 2%;
  text-decoration: none;
  font-size: 20px;
  display: flex;
  transition: all 0.5s ease-in;
  z-index: 2;
}
.active {
  left: 0;
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menubar ul {
  padding: 0;
  list-style: none;
}

.menubar ul li {
  margin-bottom: 32px;
}

.menubar ul li a {
  text-decoration: none;
  color: white;
  font-size: 95%;
  font-weight: 400;
  padding: 20px 10px;
  border-radius: 5px;
}

.menubar ul li a:hover {
  background-color: #f5f5f5;
}

@media screen and (max-width: 700px) {
  .linedNav {
    display: block;
  }
  nav ul {
    display: none;
  }
}



.Abishek {
    color: deepskyblue;
    line-height: 1.5em;
}

h1 span {
    width: 100%;
    padding: 20px;
    display: block;
    font-size: 36px;
    background-color: deepskyblue;
    background-size: auto;
    color: white;
    text-transform: capitalize;
}

#home {
    width: auto;
    height: 100%;
    background-image: url("Images/Abishek-1.png");
    background-size: 800px 650px;
    background-repeat: no-repeat;
    background-position: left

}

.home {
    margin-left: 160px;
    font-size: 38px;
    padding: 0px 10px;
    height: 100%;
}

p.position {
    position: absolute;
    left: 65%;
    top: 70%;
    transform: translateX(-20%) translateY(-10%);
}

p.home {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-20%) translateY(-10%);

}

.about {
    margin-left: 160px;
    font-size: 24px;
    padding: 0px 10px;
    height: 100%;
    text-align: justify;
}

blockquote {

    border-left: #f9f9f9;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    color: maroon;

}

blockquote:before {

    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;

}

blockquote p {
    display: inline;
}

.education {
    margin-left: 160px;
    font-size: 28px;
    height: 100%;
}

.experience {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
    height: 100%;

}

.honors {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
    height: 100%;
}

.volunteer {
    margin-left: 160px;
    font-size: 28px;
    padding: 0px 10px;
    height: 100%;
}
.contact {
    margin-left: 160px;
    font-size: 22px;
    padding: 0px 10px;
    height: 100%;
    color: white;
}

.courses {
    margin-left: 160px;
    font-size: 22px;
    padding: 0px 10px;
    height: 100%;
    color: white;
}

.course-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    background-color: white;

}

.course-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.course-container {
    padding: 2px 16px;
    color: black;
}



.destination {
    text-align: left;
    color: black;
    padding: 1px, 1px;
    font-size: 20px;
    text-transform: initial;
}

.education-card {
    display: inline-block;
    width: 600px;
    height: 150px;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;
    background-color: white;
    color: black;
}

.grid-honors {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto auto;
    padding: 10px;

}

.grid-content {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    font-size: 16px;
    text-align: left;
    color: black;
}

.skills {
    margin-left: 160px;
    font-size: 20px;
    padding: 0px 10px;
    height: 100%;
}

.projects {
    margin-left: 160px;
    font-size: 20px;
    padding: 0px 10px;
    height: 100%;
}

.card-position {
    display: block;
    text-align: center;
}

.card{
    display: inline-block;
    width: 1000px;
    height: auto;
    padding: 10px;
    text-align: left;
    text-transform: uppercase;
    background-color: white;
    color: black;
}


.experience-card {
    display: inline-block;
    width: 1000px;
    height: auto;
    padding: 10px;
    text-align: left;
    font-size: 22px;
    text-transform: capitalize;
    background: white;
    color: black;
}

* {
    box-sizing: border-box;
     }

h3.card {
    font-size: 20px;
    padding: 0px;
}

.column {

    float: left;
    width: 16.66%;
    padding: 0px 10px;

}

.row {

    padding: 10px;
}

.row:after {
    content:"";
    display: table;
    clear: both;
    padding-top: 20px;

}

.card-content {
    width: 110%;
    vertical-align: middle;

}


.container {
    margin: auto;
    padding-right: 25px;
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
}

img.card-content {
    background: transparent;
    opacity: 100%;
    
}

.alignleft{
    float: left;
}

.alignright {
    float:right;
}

.project-duration {
    text-align: right;
    font-size: 18px;
    color: peru;
    padding-top: 30px;
    text-transform: capitalize;
}

.duration {
    text-align: right;
    font-size: 18px;
    color: peru;
    padding-top: 30px;
    text-transform: capitalize;

}

.volunteer-duration {
    text-align: right;
    font-size: 18px;
    color: peru;
    padding-top: 30px;
    text-transform: initial;
}


.project-content {
    color: black;
    padding: 0 20px;
    font-size: 16px;
    text-transform: initial;

}

.footer {
    display: inline-block;
    width: 600px;
    height: 60px;
    text-align: left;
    margin: 0;
    background-color: darkgray;
    text-transform: capitalize;
    color: black;
}

.content {

    color: black;
    font-size: 28px;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;

}

.test-card-position {
    display: block;
    text-align: center;
    margin: 70px 400px 70px 400px;
}

.test-education-card {
    display: block;
    width: 600px;
    height: 150px;
    padding: 10px;
    text-align: left;
    text-transform: capitalize;
    background-color: white;
    color: black;
}

.test-project-duration {
    text-align: right;
    color: peru;
    text-transform: capitalize;
    font-size: 18px;
    padding-top: 30px;
}

.test-footer {
    display: block;
    width: 600px;
    height: 60px;
    background-color: darkgrey;
    color: black;
    text-align: center;
    padding-top: 20px;
    font-size: 16px;
}

/*
@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}

@media screen and (max-height: 600px) {
    .column {
      width: 100%;
      display: block;
      }
}*/
